.swipes-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.swipes-page__header {
    width: 100%;
    flex-shrink: 0;
}

.swipes-page__content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}