.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(5px);
}

.modal-content {
    padding: 2rem;
    border-radius: 20px;
    max-width: 400px;
    position: relative;
    box-shadow: 0 10px 25px rgba(245,221,249,0.2);
    color: #6b5354;
    border: 2px solid rgb(245, 221, 249);
    background: #f8ebf8;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-close {
    position: absolute;
    top: 20px;
    right:  20px;
    background: #f0f0f0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.modal-close:hover {
    background: #e0e0e0;
    color: #000;
}

.modal-content input, .modal-content textarea {
    padding: 0.4rem;
    border: 2px solid rgb(245, 221, 249);
    border-radius: 10px;
}

.modal-content input:focus,
.modal-content textarea:focus {
    background: #f8ebf8;
    box-shadow: 0 0 10px white;
}

.modal-content textarea {
    min-height: 10px;
    resize: vertical;
    font-family: inherit;
}

