.pet-card {
    width: 320px;
    height: 480px;
    background-color: #f9f9f9;
    border-radius: 24px;
    position: relative;

    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: grab;
    user-select: none;
    z-index: 3;

    border: 1px solid rgba(0,0,0,0.3);
}

.pet-card.profile-mode {
    position: relative!important;
    cursor: default;
    transform: none!important;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);;
}

.profile-controls {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.profile-controls button {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-edit { background: #e3f2fd; color: #1976d2; }
.btn-delete { background: #ffebee; color: #d32f2f; }

.btn-edit:hover { background: #bbdefb; }
.btn-delete:hover { background: #ffcdd2; }

.pet-card:active{
    cursor: grabbing;
}

.pet-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    display: block;
    position: absolute;
}

.pet-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    color: white;
    width: 100%;
    min-height: 20%;
    padding: 20px 0;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 100%);
}

.pet-info h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.pet-info p {
    margin: 8px;
    font-size: 1rem;
    opacity: 0.9;
    line-height: 1.3;
}
