.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5c9e5;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-logo-button, .swipet-logo-img{
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.nav-profile-btn {
    margin-right: 20px;
}