.card-stack-container {
    position: relative;
    width: 320px;
    height: 480px;
    margin: 50px auto;
}

.card-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.card-placeholder.primary {
    position: absolute;
    width: 320px;
    height: 480px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.reaction-emoji {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}