#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  background: url('/swipet-bg2.png') no-repeat center center fixed;
  background-size: cover;
}

.app-layout {
  display: flex;
  flex-direction: column;
  background-color: rgba(227, 134, 134, 0.2);
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
