#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  background: url('/swipet-bg2.png') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

